/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato:400,900');

body{
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  padding-top: 70px;
  color: #12000B;
}
a{
  color: #B5005B;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out;
}
a:hover, a:active, a:focus{
  color: #ED0077;
  text-decoration: none;
}
.container-fluid{
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bree Serif', Georgia, serif;
  color: #473440;
}
h1{
  margin-bottom: 40px;
}
h2{
  margin-bottom: 20px;
}
h3{
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#intro{
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
}
#intro-art{
  background: url(../img/banner-art.png) center no-repeat;
  background-size: contain;
}
#intro, #intro-art{
  height: 500px;
  text-align: center;
}
#what{
  background: url(../img/banner2.png) no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}
#projects{
  background: url(../img/banner3.png) no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}
#projects.block{
  margin-bottom: 0;
}
#what > .resume-link, #projects > .resume-link{
  margin-bottom: 90px;
}
#what .col-sm-6, #projects .col-sm-6{
  margin-bottom: 30px;
}
#projects h2{
  margin-bottom: 15px;
}
#projects h3{
  font-size: 1.25rem;
}
.resume-link{
  background-color: #ED0077;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
}
.resume-link:hover, .resume-link:active, .resume-link:focus{
  color: #fff;
}
#navigation{
  height: 70px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(120, 120, 120, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(120, 120, 120, 0.2);
  box-shadow: 0 1px 3px rgba(120, 120, 120, 0.2);
}
.navbar-brand {
  width: 50px;
}
.nav-link{
  color: #12000B;
}
.nav-link:hover, .nav-link.active{
  color: #ED0077;
}
img{
  max-width: 100%;
}
.navbar-toggler-icon.fa {
  font-size: 32px;
  height: auto;
}
h1.display-3 {
  padding-top: 10%;
}
h2.display-4{
  font-size: 2.36rem;
  line-height: 1.4;
}
.fa{
  margin-right: 10px;
}
.fa-heart{
  color: #ED0077;
  margin-right: 0;
}
.fa-mobile{
  font-size: 35px;
}
#articulo-page .fa-angle-right{
  color: #5C9807;
  color: rgba(92, 152, 7, .8);
}
#articulo-page #what.block{
  margin-bottom: 0;
}
.block{
  margin: 90px auto;
}
.list-group-item{
  background-color: #5C9807;
  background-color: rgba(92, 152, 7, .5);
  font-weight: 900;
  border: none;
}
.list-group{
  margin-top: 15px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#langs .list-group-item:nth-child(4){
  width: 60%;
  background-color: rgba(92, 152, 7, .2);
}

#libs .list-group-item:nth-child(5){
  width: 80%;
  background-color: rgba(92, 152, 7, .3);
}
#libs .list-group-item:nth-child(3){
  width: 90%;
  background-color: rgba(92, 152, 7, .4);
}
#else .list-group-item:nth-child(2){
  width: 90%;
  background-color: rgba(92, 152, 7, .4);
}

footer {
  background-color: #CF0068;
  padding: 60px 0;
  color: #fff;
  text-align: center;
}
footer a{
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
footer a:hover, footer a:active, footer a:focus{
  color: #fff;
}
footer h2{
  color: #fff;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  body{
    padding-top: 0;
  }
  h1.display-3{
    font-size: 2.2rem;
  }
  h2.display-4{
    font-size: 1.5rem;
  }
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  #navigation{
    position: relative;
  }
  .navbar{
    display: block;
  }
  #about img{
    margin-bottom: 15px;
  }
  #skills .col-sm-4{
    margin-bottom: 30px;
  }
  .navbar-nav {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  footer .col-sm-4{
    margin-bottom: 20px;
  }
}
